  .nav-item {
    padding: 0 10px;
  }

  .nav-link {
    color: black !important;
    font-size: 1.2rem;
  }

  .nav-link:hover {
    color: #F00808 !important;
    transform: scale(1.1);
  }

  .testimonial-image {
    width: 100%;
    height: 100vh;
    /* padding-top: 6%; */
  }

  .nav-brand{
    width:140px;
    height: 70px;
  }

  nav {
    background-color: rgba(255, 255, 255, 0.95);
  }

  body {
    font-family: 'Karla';
    color: #63686e;
    font-size: 1.2rem;
  }

  h1 {
    font-family: 'B612', sans-serif;
    font-weight: bold;
  }

  .intro-h1 {
    position: absolute;
    bottom: 70%;
    color: white;
    right: 5%;
    font-size: 3.5rem;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    width: 40%;
    line-height: 1.5;
  }

  .intro-h1-2 {
    position: absolute;
    bottom: 65%;
    color: black;
    left: 5%;
    font-size: 3.5rem;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    width: 40%;
    line-height: 1.5;
  }

  .fade-in {
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .navbar-brand {
    margin-right: 100px;
  }

  .fb-icon {
    color: #4267B2 !important;
  }

  .fb-icon:hover {
    transform: scale(1.2);
  }

  .google-icon:hover {
    transform: scale(1.2);
  }

  .instagram-icon:hover {
    transform: scale(1.2);
  }

  .fa-whatsapp {
    background-color: #4CED69;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
    cursor: default;
  }

  .whatsapp-icon {
    pointer-events: none;
    cursor: default;
  }

  .instagram-icon {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  /* Middle Section */
  #middle {
    overflow: hidden;
    background-color: #f6f5f5;
  }

  .needed {
    background-color: #fff;
  }

  .features1 {
    padding: 5% 10%;
    background-color: #fff;
  }

  .features2 {
    padding: 5% 10%;
    background-color: #f6f5f5;
  }

  .features-p {
    margin-left: 5%;
    transform: rotate(-2deg);
  }

  .features-h1 {
    margin-left: 5%;
    transform: rotate(-2deg);
  }

  .features-p-2 {
    margin-left: 5%;
    transform: rotate(2deg);
  }

  .features-h1-2 {
    margin-left: 5%;
    transform: rotate(2deg);
  }

  .fa-ruler-combined {
    margin-left: 5%;
    transform: rotate(-2deg);
  }

  .fa-ruler-combined-2 {
    margin-left: 5%;
    transform: rotate(2deg);
  }

  .r1 {
    width: 110%;
    top: -5%;
    left: -5%;
    transform: rotate(2deg);
  }

  .r2 {
    width: 110%;
    top: -5%;
    right: -5%;
    transform: rotate(-2deg);
  }

  /* Contact Section */
  #contact {
    overflow: hidden;
  }

  .contact-form {
    text-align: center;
    background-color: #4285f4;
    border-radius: 5%;
    padding: 2% 0;
  }

  .message-sender-form {
    background-color: #f7f7f7;
    padding: 5% 2%;
  }

  .form-headers {
    font-weight: bold;
  }

  .contact-container {
    text-align: center;
    margin-right: 20%;
  }

  .sender-mobile:link {
    text-decoration: none;
    color: #fff;
  }

  .sender-mobile:visited {
    text-decoration: none;
  }

  .sender-mobile:hover {
    text-decoration: none;
  }

  /* Footer Section */
  #footer-section {
    background-color: black;
    color: #fff;
    padding: 5% 3% 0% 3%;
  }

  .footer-img {
    width: 50%;
  }

  .creator {
    text-align: center;
  }

  .links {
    padding: 1% 0 1% 0;
  }

  .creator-email {
    color: #f7f7f7;
    font-weight: bold;
    text-decoration: underline;
  }

  .footer-nav-links {
    color: #fff !important;
  }

  .map-link-footer {
    color: #fff;
  }

  .map-link-footer:hover {
    color: #F00808;
    text-decoration: none;
  }

  .tel-footer {
    color: #fff;
  }

  .tel-contact-page {
    color: #63686e;
  }

  .tel-contact-page:hover {
    color: #6CB750;
    text-decoration: none;
  }

  .tel-footer:hover {
    color: #6CB750;
    text-decoration: none;
  }

  .map-link {
    color: #63686e;
  }

  .map-link:hover {
    color: #F00808;
    text-decoration: none;
  }

  .email-footer {
    color: #fff;
  }

  .email-footer:hover {
    color: #0279D5;
    text-decoration: none;
  }

  .email-contact-page {
    color: #63686e;
  }

  .email-contact-page:hover {
    color: #0279D5;
    text-decoration: none;
  }

  hr {
    border-color: #fff;
  }

  span {
    font-weight: bold;
  }

  .fa-map-marker-alt {
    color: #F00808;
  }

  .fa-phone-footer {
    color: #6CB750;
  }

  .fa-envelope {
    color: #0279D5;
  }

  /* contact-page Section */
  #contact-page {
    padding-top: 3%;
    padding-bottom: 7%;

  }

  .contact-info {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .fa-whatsapp-square {
    background-color: #fff;
    color: #4CED69;
  }

  .wp-contact-page {
    color: #63686e;
  }

  .wp-contact-page:hover {
    color: #4CED69;
    text-decoration: none;
  }

  /* Project Section */
  #project {
    padding-top: 6%;
    overflow: hidden;
    background-color: #f6f5f5;
  }

  .project-card {
    margin-bottom: 3%;
    padding-left: 2%;
    margin-top: 3%;
  }

.btn-mrgn{
  margin-top: 2%;
  margin-bottom: 2%;
}

.project-images{
  width: 100%;
  padding-top: 30px;
}

.links-p{
  padding-left: 7%;
}


  /* CSS For Mobile */
  @media (max-width: 1000px) {

    .nav-brand{
      width:280px;
      height: 140px;
    }

    .project-images{
      width: 100%;
      padding-top: 10px;
    }

    body {
      font-family: 'Karla';
      color: #63686e;
      font-size: 3rem;
    }
    .instagram-icon-cont::after {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      content: "  Instagram";
    }

    .google-icon-cont::after {
      content: "  Google";
      background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    .fb-icon-cont::after {
      content: " Facebook";
      color: #4267B2 !important;
    }

    .fa-whatsapp {
      background-color: #4CED69;
      color: #fff;
      visibility: visible;
      pointer-events: auto;
      cursor: pointer;
    }

    .whatsapp-icon {
      pointer-events: auto;
      cursor: pointer;
    }

    .whatsapp-icon-cont::after {
      content: " +0123456789";
      color: black;
    }

    .fb-icon:hover {
      transform: scale(1.02);
    }

    .google-icon:hover {
      transform: scale(1.02);
    }

    .instagram-icon:hover {
      transform: scale(1.02);
    }

    .whatsapp-icon:hover {
      transform: scale(1.02);
    }

    .nav-item{
      padding-top: 1px;
    }

  .nav-link-m{
    font-size: 1.8rem;
  }

    .nav-link:hover {
      color: #F00808 !important;
      transform: scale(1.02);
    }

    .nav-hr::after {
      content: "Social Media Hesaplarimiz";
    }

    .intro-h1 {
      position: absolute;
      bottom: 75%;
      color: white;
      right: 1%;
      font-size: 4.5rem;
      width: 60%;
    }

    .intro-h1-2 {
      position: absolute;
      bottom: 75%;
      color: black;
      left: 3%;
      font-size: 4rem;
      width: 60%;
    }

    .contact-container {
      text-align: center;
      margin-right: auto;
      padding-bottom: 5%;
    }

    .features2-mobile {
      text-align: right;
    }

    .footer-img {
      width: 70%;
    }

    .contact-footer {
      position: absolute;
      bottom: 0px;
    }

    #footer-section{
      font-size: 1.3rem;
    }

    #project {
      padding-top: 15%;
    }

    .contact-footer{
      position: fixed;
      bottom: 0;
    }
  }
